.layout-slides {
  --size-small: 1.2rem;
  --size-base: 1.8rem;
}
.layout-slides header, .layout-slides footer, .layout-slides section {
  max-width: none;
  margin: 0;
  width: 100%;
}

table {
  margin: auto;
  margin-top: var(--pad);
  font-size: var(--size-base);
  text-align: left;
  width: 100%;
  border-collapse: collapse;
}
table th {
  --wght: 500;
  border-bottom: 2px solid;
}
table td {
  min-width: 8em;
  vertical-align: top;
}
table th, table td {
  padding: 0.25em 0.5em;
}
table th:first-child, table td:first-child {
  padding-left: 0;
}
table th:last-child, table td:last-child {
  padding-right: 0;
}

.slide {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background: var(--color-bg);
  padding: var(--pad);
}
.slide h1, .slide h2, .slide h3, .slide h4 {
  font-weight: bold;
}
.slide h1 {
  font-size: var(--size-large);
}
.slide h2 {
  font-size: var(--size-medium);
}
.slide h3 {
  text-transform: none;
  letter-spacing: 0;
}
.slide h3, .slide h4 {
  font-size: var(--size-base);
  margin-top: var(--pad);
}
.slide p {
  max-width: 30em;
}
.slide ul {
  max-width: 30em;
  margin: auto;
  text-align: left;
  margin-bottom: var(--pad);
}
.slide ul + h4 {
  margin-top: var(--pad-section);
}
.slide figure {
  width: 100%;
  margin: var(--pad) 0;
}
.slide figure code {
  font-size: 2rem;
}
.slide img, .slide video {
  display: block;
  width: 100%;
  height: 100%;
  max-height: calc(90vh - 150px);
  object-fit: contain;
  object-position: top left;
}
.slide figcaption {
  margin-top: var(--pad);
  font-size: var(--size-small);
}
.slide iframe {
  width: 100%;
  height: 85vh;
}
.slide .source {
  font-size: var(--size-small);
  padding-left: 1em;
  border: none;
}
.slide .text-column {
  text-align: left;
}
.slide footer {
  font-size: var(--size-small);
  position: absolute;
  bottom: 0;
  text-align: left;
  padding: var(--pad);
  left: 0;
}
.slide footer div {
  grid-column: span 4;
}
.slide.divider {
  background: var(--color-base);
  color: var(--color-bg);
  text-align: center;
}
.slide.divider .text {
  margin: auto;
  padding: 0;
}

.pad {
  background: white;
}

.text {
  padding-left: 12.5%;
  max-width: 40em;
}

figure.small img {
  height: 70vh;
}

figure.wide {
  width: 80%;
}

.interpolation {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
}
.interpolation .arrow {
  display: flex;
  align-items: center;
  font-size: 100px;
}

.interp {
  font-size: 300px;
  display: flex;
  align-items: center;
}

.animate {
  animation-play-state: paused;
}

.wghtanimate {
  animation: wghtanimate 1s linear alternate infinite;
}

@keyframes wghtanimate {
  0% {
    font-variation-settings: "wdth" 100, "wght" 100, "slnt" 0;
  }
  100% {
    font-variation-settings: "wdth" 100, "wght" 700, "slnt" 0;
  }
}
.wdthanimate {
  animation: wdthanimate 1s linear alternate infinite;
}

@keyframes wdthanimate {
  0% {
    font-variation-settings: "wdth" 75, "wght" 400, "slnt" 0;
  }
  100% {
    font-variation-settings: "wdth" 125, "wght" 400, "slnt" 0;
  }
}
.maganimate {
  animation: maganimate 1s linear alternate infinite;
}

@keyframes maganimate {
  0% {
    font-variation-settings: "wdth" 100, "wght" 100;
  }
  100% {
    font-variation-settings: "wdth" 100, "wght" 900;
  }
}
.mag-wdth-animate {
  animation: magwdthanimate 1s linear alternate infinite;
}

@keyframes magwdthanimate {
  0% {
    font-variation-settings: "wdth" 50, "wght" 400;
  }
  100% {
    font-variation-settings: "wdth" 150, "wght" 400;
  }
}
.arrowanimate {
  animation: arrowanimate 1s 400ms linear alternate infinite forwards;
}

@keyframes arrowanimate {
  0% {
    font-variation-settings: "wdth" 0;
  }
  100% {
    font-variation-settings: "wdth" 1000;
  }
}
@keyframes show {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}
.label {
  font-size: 0.9rem;
  --wght: 600;
  --wdth: 120;
  margin-top: -2px;
  padding: 0 3px;
}

.vector {
  margin: auto;
  display: flex;
  width: 100%;
  padding: 5rem;
}
.vector .endpoint {
  border-radius: 50%;
  background: var(--color-link);
  width: 10px;
  height: 10px;
  padding-top: 5px;
}
.vector .line {
  flex: 1;
  position: relative;
  top: 3px;
}
.vector .linemove {
  position: absolute;
  left: 0;
  width: 100%;
  border-top: 3px solid var(--color-txt);
  animation: extendline 2s 1s linear infinite;
}

@keyframes extendline {
  0% {
    width: 0;
  }
  80% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

/*# sourceMappingURL=slides.css.map */
