@font-face{
	font-family: 'Occupant Oldstyle';
	src: url('fonts/OccupantOldstyle-Regular-Trial.woff2') format('woff2');
	font-weight: 400;
}
@font-face{
	font-family: 'Occupant Oldstyle';
	src: url('fonts/OccupantOldstyle-Italic-Trial.woff2') format('woff2');
	font-style: italic;
	font-weight: 400;
}

@font-face{
	font-family: 'Occupant Oldstyle VF';
	src: url('fonts/OccupantOldstyle-VF-Roman-Trial.woff2') format('woff2-variations');
	font-weight: 200 700;
}

@font-face{
	font-family: 'Occupant Oldstyle VF';
	src: url('fonts/OccupantOldstyle-VF-Italic-Trial.woff2') format('woff2-variations');
	font-weight: 200 700;
	font-style: italic;
}


body{
	font-family: 'Occupant Oldstyle';
}

.occ-oldstyle-vf{
	font-family: 'Occupant Oldstyle VF';
}
